.theme__light {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 30px;
  height: 30px;
  // background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}
