.element__title {
  display: flex;
  grid-row: 1;
  grid-column: 1 / 4;
  max-width: 282px;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
