.error {
  display: flex;
  margin: 0 auto;
  padding-left: 110px;
  border: 0;
  width: 258px;
  height: 40px;
  margin-block: 0;
  margin-inline: 0;
  box-sizing: border-box;
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #f00;
  visibility: hidden;
  z-index: 11;
  align-items: center;
  justify-content: center;
}
