.error {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-left: 110px;
  border: 0;
  width: 258px;
  height: 40px;
  margin-block: 0;
  margin-inline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #f00;
  visibility: hidden;
  z-index: 11;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .error {
    max-width: 200px;
  }
}
