.form__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: 0;
  max-width: 70px;
  width: 100%;
  margin-block: 0;
  margin-inline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 5px 10px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 6;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  border: 2px solid rgba(30, 144, 255, 0.75);
  -webkit-box-shadow: 0px 0px 4px 0 rgba(30, 144, 255, 0.75);
  box-shadow: 0px 0px 4px 0 rgba(30, 144, 255, 0.75);
  border-radius: 2px;
}

@media screen and (max-width: 650px) {
  .form__input {
    font-size: 14px;
  }
}
