.form__label {
  width: 110px;
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-bottom: 10px;
  align-content: center;
  align-items: center;
}

/*
.form__label:first-of-type {
  margin-top: 40px;
}
*/
