.footer {
  display: grid;
  grid: 1fr / repeat(3, 28%);
  position: relative;
  width: 100%;
  background: #faf0ca;
  color: #ac3b61;
  margin: 0;
  padding: 20px 90px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1rem;
  border-top: 1px solid rgba(186, 178, 181, 0.7);
  align-items: start;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
}

.footer-night {
  color: #123c69;
  transition: all 0.5s ease 0s;
}

/*
@media screen and (max-width: 495px) {
  .footer {
    padding-bottom: 30px;
  }
}*/
