.theme__day-before {
  position: relative;
}

.theme__day-before,
.theme__day-after {
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}
