.button-submit {
  margin: 0;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 560px;
  margin-block: 0;
  margin-inline: 0;
  background-color: #13c39c;
  color: #fff;
  border-radius: 10px;
  padding: 10px 245px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  z-index: 6;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.button-submit:hover {
  opacity: 0.8;
}

.button-submit:focus {
  opacity: 0.8;
}

@media screen and (max-width: 650px) {
  .button-submit {
    max-width: 200px;
    padding: 5px 75px;
    font-size: 14px;
    line-height: 1;
  }
}
