.theme__button {
  position: absolute;
  display: none;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 0;
  padding: initial;
  border: initial;
}

.theme__button:checked + .theme__slider::before {
  right: 3em;
}

.theme__button:checked + .theme__slider::after {
  left: 3em;
}
